<!--sponsor-->
<h1 class="text-center" style="color:#2CC990;padding-bottom:20px;margin-top:-2px;">
    Our Partners
</h1>
<div class="banner" style="background:#2CC990;margin-top:-20px;padding-bottom:60px;">
  <div class="container small_about">
      <small style="font-size:16px;">
          <center class="description">
            <span class="col-xs-5 col-md-2 col-lg-2 col-sm-2 sponsor">
              <img src="/static/{{template_name}}/images/smallworld.png" class="img-responsive">
            </span>
            <span class="col-xs-5 col-md-2 col-lg-2 col-sm-2 sponsor">
              <img src="/static/{{template_name}}/images/smallworld.png" class="img-responsive">
            </span>
            <span class="col-xs-5 col-md-2 col-lg-2 col-sm-2 sponsor">
              <img src="/static/{{template_name}}/images/smallworld.png" class="img-responsive">
            </span>
            <span class="col-xs-5 col-md-2 col-lg-2 col-sm-2 sponsor">
              <img src="/static/{{template_name}}/images/smallworld.png" class="img-responsive">
            </span>
            <span class="col-xs-5 col-md-2 col-lg-2 col-sm-2 sponsor">
              <img src="/static/{{template_name}}/images/smallworld.png" class="img-responsive">
            </span>
          </center>
      </small>
  </div>
</div>
<!--end sponsor-->
<footer id="footer">
  <div class="container">
    <div class="row">    
      <div class="col-xs-6 col-sm-6 col-md-3 column"> 
      </div>
      <div class="col-xs-12 col-md-6 column">          
        <center>
          <ul class="nav">
            <li>
            <a href="#">
              <img src="/static/{{template_name}}/images/smallworld.png" class="footer_logo img-responsive brand">
            </a>
            </li>
            <li style="margin-top: -25px;"><a href="#">
                   House #17, St. 604, Toul Kork, Phnom Penh, Cambodia 
                   
            </a></li>
            <li><a href="#">
            Copyright &copy; 2016 SmallWorldCambodia
            </a></li>
          </ul> 
        </center>
      </div>
      <div class="col-xs-6 col-md-6 column">           
      </div>
    </div><!--/row-->
  </div>
</footer>

</body>
</html>