{% include template_name+'/header.html' %} 

   <header style="min-height:70%;width:100%;" class="bg-black">
        <div class="header-content">
            <div class="header-content-inner">
                <div class="container">
                    <div class="col-sm-9 col-md-6">
                        <h1 class="z3">Welcome To Common Team Work</h1>
                        <hr>
                        <p>
                        Start Bootstrap can help you build better websites using the Bootstrap CSS framework!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container border-bottom">
            <div class="row">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <li class="alert"> 
                        {{ message }}
                      </li>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <div class="col-lg-12">
                    <h2 class="section-heading h2">At Your Service</h2>
                    <h3><small>WHEN YOU JOIN ONE, YOU JOIN THEM ALL</small></h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {%for post in posts_top%}
                <a href="/{{post.slug}}">
                    <div class="col-lg-3 col-md-6 text-center smallbox">
                        <div class="service-box">
                            <img src="{{post.feature_image}}" class="img-responsive">
                            <h3>{{post.title}}</h3>
                            <p class="text-muted">
                                {{post.description|striptags|truncate(100)}}
                            </p>
                        </div>
                    </div>
                </a>
                {%endfor%}
            </div>
        </div>
    </section>
    <center><h2 style="color:orange;">THE LATEST</h2></center>
    <section class="no-padding container" id="portfolio">
        <div class="container-fluid ">
            <div class="row no-gutter"> <!-- popup-gallery -->
                
                {%for post in posts_bottom%}
                <div class="col-xs-12 col-sm -6 col-lg-6 col-sm-6">
                    <a href="/{{post.slug}}" class="portfolio-box">
                        <img src="{{post.feature_image}}" class="img-responsive" style="width:100%" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <!-- <div class="project-category text-faded">
                                    Category
                                </div> -->
                                <div class="project-name">
                                    {{post.title}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {%endfor%}
            </div>
        </div>
        <br/><br/>
    </section>
    
    <!--footer-->
    <footer style="width:100%;">        
        <div class="footer-bottom">
            <div class="container" style="width:100%;">
                <p class="pull-left" style="color:white;"> Copyright © Amok.com Plugin 2016. All right reserved. </p>
                <div class="pull-right">
                   <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.footer-bottom--> 
    </footer>

    <!--end footer-->
    <!-- jQuery -->
    <script src="/static/{{template_name}}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/{{template_name}}/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/{{template_name}}/js/scrollreveal.min.js"></script>
    <script src="/static/{{template_name}}/js/jquery.easing.min.js"></script>
    <script src="/static/{{template_name}}/js/jquery.fittext.js"></script>
    <script src="/static/{{template_name}}/js/jquery.magnific-popup.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/{{template_name}}/js/creative.js"></script>

</body>

</html>
