
{% include template_name+'/header.html' %} 
<!--container-->
<div class="bg-overlay" style="background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.42)), url(/static/{{template_name}}}/img/banner_main.png);
    				background-repeat: no-repeat;border-radius:0px;" >
	<div class="row text-center">
		<h3>{{category_name}}</h3>
	</div>
</div>
<div class="container mycontent">
	{%for post in posts%}
		<div class="col-xs-12 col-sm-4 col-md-4 margin">
			<a href="/{{post.slug}}}">
			<div class=" text-center bg-overlay" style="background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.42)), url({{post.feature_image}});
	    				background-repeat: no-repeat;">
		        <h4>{{post.title}}</h4>
		        <span>
		        	<input class="btn btn-sm btn-default" value="More Detail..." type="submit">
		        </span>
			</div>
			</a>
		</div>
	{%endfor%}
	
</div>

<!--end container-->
{% include template_name+'/footer.html' %} 