<!--start footer-->
<!--sponsor-->
<br><br>
<div class="banner" style="margin-top:-5px;padding-bottom:0px;">
  <div class="container">
      <div class="row">
            <div class="span12">
	            <div id="owl-example" class="owl-carousel">
	                <div class="item steelGray">
	                  <img src="/static/{{template_name}}/img/client-smalworld.jpg" alt="Tons of Opotions">
	                    <h4>client-smalworld</h4>
	                </div>
	                <div class="item steelGray">
	                  <img src="/static/{{template_name}}/img/client_0000_Young_Startups-e1436760909205.jpg" alt="Tons of Opotions">
	                    <h4>Young_Startups Cambodia</h4>
	                </div>
	                <div class="item steelGray">
	                  <img src="/static/{{template_name}}/img/client_0002_Impact-Hub_n.jpg" alt="Tons of Opotions">
	                    <h4>Impact-Hub Phnom Penh</h4>
	                </div>
	                <div class="item steelGray">
	                  <img src="/static/{{template_name}}/img/ICS_n.gif" alt="Tons of Opotions">
	                    <h4>ICS Asia</h4>
	                </div>
	                <div class="item steelGray">
	                  <img src="/static/{{template_name}}/img/tons.png" alt="Tons of Opotions">
	                    <h4>Social Enterprise Cambodia</h4>
	                </div>
	                <div class="item steelGray">
	                  <img src="/static/{{template_name}}/img/CEFY-LOGO.jpg" alt="Tons of Opotions">
	                    <h4>Career Employment For Youth</h4>
	                </div>
	              </div>
	            </div>
          	</div>
    </div>
</div>
<!--end sponsor-->
<footer id="footer">
  <div class="container">
    <div class="row">    
      <div class="col-xs-6 col-sm-6 col-md-3 column"> 
      </div>
      <div class="col-xs-12 col-md-6 column">          
        <center>
          <ul class="nav">
            <li>
            <a href="/">
              <img src="/static/{{template_name}}/img/logo.png" class="footer_logo img-responsive brand">
            </a>
            </li>
            <li><a href="/">
                    
            </a></li>
            <li style="font-size:18px;color:white;"><a href="#">
            	Contact: (+855) 78-785-044
            </a></li>
            <li style="font-size:18px;color:white;"><a href="#">
            	Email: chhunny@anakot.asia 
            </a></li>

          </ul> 
        </center>
      </div>
      <div class="col-xs-6 col-md-6 column">           
      </div>
    </div><!--/row-->
  </div>
</footer>

<!--end footer-->
</body>
</html>